projects/order_vm/logicapp_proxy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "storageAccountName": {
      "type": "string",
      "metadata": {
        "description": "Name des Speicherkontos. Muss zwischen 3 und 24 Zeichen lang sein und nur Kleinbuchstaben und Zahlen enthalten."
      }
    },
    "queueName": {
      "type": "string",
      "metadata": {
        "description": "Name der Warteschlange, die erstellt werden soll und von der Logic App verwendet wird."
      },
      "defaultValue": "vmorderqueue"
    },
    "proxyLogicAppName": {
      "type": "string",
      "metadata": {
        "description": "Name der Proxy Logic App."
      },
      "defaultValue": "LA-Gate"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Standort für die Ressourcen."
      }
    }
  },
  "variables": {
    "commonTags": {
            "Author": "Simon Vedder",
            "Contact": "info@simonvedder.com",
            "Project": "VMOrder",
            "ManagedBy": "ARMTemplate"
        }
  },
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2023-01-01",
      "name": "[parameters('storageAccountName')]",
      "location": "[parameters('location')]",
      "sku": {
        "name": "Standard_LRS"
      },
      "kind": "StorageV2",
      "properties": {
        "allowBlobPublicAccess": false,
        "minimumTlsVersion": "TLS1_2"
      }
    },
    {
        "type": "Microsoft.Storage/storageAccounts/queueServices/queues",
        "apiVersion": "2024-01-01",
        "name": "[concat(parameters('storageAccountName'), '/default/', parameters('queueName'))]",
        "tags": "[variables('commonTags')]",
        "dependsOn": [
            "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
        ],
        "properties": {
            "metadata": {
            }
        }
        },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "azurequeues-storage-account-connection",
      "kind": "V1",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]"
      ],
      "properties": {
        "api": {
          "id": "[format('{0}/providers/Microsoft.Web/locations/{1}/managedApis/azurequeues', subscription().id, resourceGroup().location)]",
          "name": "azurequeues",
          "type" : "Microsoft.Web/locations/managedApis"
        },
        "parameterValueSet": {
            "name": "managedIdentityAuth",
            "values": {}
        },
        "displayName": "Azure Queues Connection for Logic App"
      }
    },
    {
        "type": "Microsoft.Web/connections", // connect manual to existing keyvault where your admin passwords are located
        "apiVersion": "2016-06-01",
        "name": "keyvault-connection",
        "location": "[parameters('location')]",
        "properties": {
            "api": {
                "id": "[format('{0}/providers/Microsoft.Web/locations/{1}/managedApis/keyvault', subscription().id, resourceGroup().location)]",
                "name" : "keyvault",
                "type": "Microsoft.Web/locations/keyvault"
            },
            "displayName": "Key Vault Connection for Logic App",
            "parameterValueSet": {
                "name": "oauthMI",
                "values": {}
            }
        }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('proxyLogicAppName')]",
      "location": "[parameters('location')]",
      "tags": "[variables('commonTags')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccountName'))]",
        "[resourceId('Microsoft.Web/connections', 'azurequeues-storage-account-connection')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": { "defaultValue": {}, "type": "Object" }
          },
          "triggers": {
            "When_a_HTTP_request_is_received": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "method": "POST",
                "schema": {
                  "type": "object",
                  "properties": {
                    "upn": { "type": "string" }, "vmType": { "type": "string" }, "vmSize": { "type": "string" },
                    "avd": { "type": "boolean" }, "publicIp": { "type": "boolean" }, "adJoin": { "type": "boolean" },
                    "entraExt": { "type": "boolean" }, "os": { "type": "string" }, "application": { "type": "string" },
                    "loadBalancerType": { "type": "string" }
                  }
                }
              }
            }
          },
          "actions": {
            "Parse_JSON_Order_Request": {
              "runAfter": {},
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "type": "object",
                  "properties": {
                    "upn": { "type": "string" }, "vmType": { "type": "string" }, "vmSize": { "type": "string" },
                    "avd": { "type": "boolean" }, "publicIp": { "type": "boolean" }, "adJoin": { "type": "boolean" },
                    "entraExt": { "type": "boolean" }, "os": { "type": "string" }, "application": { "type": "string" },
                    "loadBalancerType": { "type": "string" }
                  }
                }
              }
            },
            "Validate_UPN_in_Entra_ID": {
              "runAfter": {
                "Parse_JSON_Order_Request": ["Succeeded"]
              },
              "type": "Http", // requirements: directory readers
              "inputs": {
                "method": "GET",
                "uri": "https://graph.microsoft.com/v1.0/users/@{body('Parse_JSON_Order_Request')?['upn']}",
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://graph.microsoft.com"
                }
              }
            },
            "Condition_UPN_Exists": {
              "runAfter": {
                "Validate_UPN_in_Entra_ID": ["Succeeded"]
              },
              "type": "If",
              "expression": "@equals(outputs('Validate_UPN_in_Entra_ID')?['statusCode'], 200)",
              "actions": {
                "Send_message_to_Queue": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azurequeues']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "[concat('/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent(''', parameters('storageAccountName'), '''))}/queues/@{encodeURIComponent(''', parameters('queueName'), ''')}/messages')]",
                    "body": "@json(string(body('Parse_JSON_Order_Request')))"
                  }
                },
                "Response_Success": {
                  "type": "Response",
                  "inputs": {
                    "statusCode": 200,
                    "body": "UPN erfolgreich validiert und Bestellung zur Verarbeitung an die Warteschlange gesendet."
                  },
                  "runAfter": {
                    "Send_message_to_Queue": ["Succeeded"]
                  }
                }
              },
              "else": {
                "actions": {
                  "Response_UPN_Not_Found": {
                    "type": "Response",
                    "inputs": {
                      "statusCode": 400,
                      "body": "Der angegebene UPN konnte nicht in Entra ID gefunden werden. Bitte überprüfen Sie die Eingabe."
                    },
                    "runAfter": {}
                  }
                }
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azurequeues": {
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azurequeues')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', 'azurequeues-storage-account-connection')]",
                "connectionName": "azurequeues-storage-account-connection",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    },
    {
        "type": "Microsoft.Authorization/roleAssignments",
        "apiVersion": "2022-04-01",
        "name": "[guid(subscription().id, '974c5e8b-45b9-4653-ba55-5f855dd0fb88')]",
        "scope": "[concat('Microsoft.Storage/storageAccounts', '/', parameters('storageAccountName'))]",
        "properties": {
          "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', '974c5e8b-45b9-4653-ba55-5f855dd0fb88')]",
          "principalId": "[reference(resourceId('Microsoft.Logic/workflows', parameters('proxyLogicAppName')), '2019-05-01', 'full').identity.principalId]",
          "principalType": "ServicePrincipal"    
        },
        "dependsOn": [
            "[resourceId('Microsoft.Logic/workflows',parameters('proxyLogicAppName'))]"
        ]
    }
    // After Deploy, add Logic App Link to your frontend solution
    // Required to give the Managed Identity User.Read Permissions to validate the upn
    // Require role assignment of Managed Identity to get Queue Blob Contributor for the Storage Account
  ],
  "outputs": {
    "proxyLogicAppEndpoint": {
      "type": "string",
      "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', parameters('proxyLogicAppName'), 'When_a_HTTP_request_is_received'), '2017-07-01').value]"
    },
    "storageAccountNameDeployed": {
      "type": "string",
      "value": "[parameters('storageAccountName')]"
    },
    "queueNameDeployed": {
      "type": "string",
      "value": "[parameters('queueName')]"
    }
  }
}